.nav-background {
    background-image: -moz-linear-gradient();
}

body {
    background-color: #b1f3de;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.left-column {
    background-color: #f1cdfc;
    padding: 20px;
}

.right-column {
    background-color: #d6eff3;
    padding: 20px;
    
}

.saved {
    margin-top: 20px;
}

.saved h3 {
    margin-bottom: 10px;
}

.saved ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.saved li {
    margin-bottom: 5px;
}

.recipe-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
} 

.fa {
    padding: 20px;
    text-align: center;
    margin: 5px 2px;
    font-size: 30px;
    width: 50px;
}

.fa-facebook {
    background: #7b99db;
    color: white;
}

.fa-instagram {
    background: #de2108;
    color: rgb(240, 178, 223);
}

 .social-icons a {
    text-decoration: none;
    font-size: 40px;
    margin-right: 20px;
    color: #000000;
    display: inline;
    padding-top: 5px;
    transition: transform 0.5s;
}

 footer {
    background-color: #f9d3f7;
    padding: 1px;
    text-align: center;
    margin: 1cm;

}

* {
    box-sizing: border-box;
}

 #recipes {
    display: inline-block;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
} 

 .recipe.item {
    width: 200px;
    text-align: start; 
}

.recipe.item img {
    width: 100%;
    height: 100%;
    object-fit:inherit;
}

.container {
    display: flex;
    gap: 20px;
}

.left-column {
    flex: 1;
}

.right-column {
    flex: 1;
}

#recipes {
    list-style: square;
    padding: 10;
    margin: 20;
}

.recipe.item {
    display:grid;
    align-items: center;
    margin-bottom: 10px;
}

.recipe.item img {
    width: 100px;
    height: 100px;
    object-fit:unset;
    margin-left: 100px;
} #search-form {
    margin-bottom: 20px;
  }
  
  #search-input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #search-input:focus {
    outline: none;
    border-color: #5e9fff;
    box-shadow: 0 0 4px #5e9fff;
  }
  
  #search-form button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  #search-form button:hover {
    background-color: #45a049;
  }
  
  #search-form button:focus {
    outline: none;
  }
  